{{ include('pages/inc/head.html.twig') }}

<div class="container">

    {{ form_start(form) }}
    
    {{ form_widget(form) }}
    
    {{ form_end(form) }}
    
</div>
{{ include('pages/inc/tail.html.twig') }}