{{ include('pages/inc/head.html.twig') }}

<div class="container">

    <ul>
        <li> {{ post.id }}</li>  
     <li> {{ post.title }} </li>
      <li>{{ post.description }} </li>
      <li>{{ post.category }}</li> 
    </ul>
   
    
</div>
{{ include('pages/inc/tail.html.twig') }}